.main-header {
  min-height: 750px;
  padding: 30px 0;
  color: @white;
  background: @blue url("../../img/bg/bg_header.jpg") no-repeat 50% 0;
  background-size: cover;

  &__top-menu {
    margin-bottom: 200px;
  }

  &__logo {
    display: block;
    float: left;
    min-height: 60px;
    padding-left: 120px;
    font-size: 27px;
    line-height: 60px;
    color: @white;
    text-transform: uppercase;
    text-decoration: none;
    background: url("../../img/logo/p-logo.png") no-repeat 28px 50%;

    &-left {
      font-weight: 800;
    }

    &-right {
      position: relative;
      left: -5px;
      font-weight: 300;
    }
  }

  &__nav-container {
    float: right;
  }

  &__slider {
    padding-left: 18.58%;
    padding-right: 18.58%;

    &-title {
      .index-h1(75px; @white);
      margin-bottom: 35px;

      &::after {
        background-color: @white;
      }
    }

    &-description {
      margin-bottom: 175px;
      font-size: @p;
      font-weight: 400;
      line-height: 1.295em;
    }

    &-pagination {
      padding-left: 80px;
      font-size: 0;
      white-space: nowrap;

      span {
        box-sizing: content-box;
        display: inline-block;
        vertical-align: baseline;
        height: 29px;
        border: 3px solid @white;
        margin-right: 10px;
        text-align: center;
        font-size: @p - 1;
        font-weight: 800;
        line-height: 29px;
        overflow: hidden;
        .transition();

        &:hover {
          cursor: pointer;
          color: @blue;
          background-color: @white;
        }
      }

      span:last-child {
        margin-right: 0;
      }

      .number {
        width: 29px;
      }

      .prev,
      .next {
        width: 59px;
      }

      .current {
        color: @text-base;
        border-color: @text-base;
      }

      .current:hover {
        cursor: text;
      }
    }
  }
}
