html {
	box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {box-sizing: inherit;}

body {
  min-width: @body-min-width;
  color: @text-base;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: @p;
  line-height: 1.47em;
}
